@keyframes bag-checkout-grow {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes bag-checkout-shrink {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}

@keyframes bag-checkout-label-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bag-checkout-label-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes svg-bar-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
